/* ======== DEFAULT SECTION START==========*/
:root{
  --background-color: rgb(234, 240, 206) /* Beige */
  --text-color: rgb(13, 27, 30) /* Rich Black */
  --nav-panel: rgba(102, 153, 155, 1) /*  Moonstone */
  --primary-color: rgb(40, 41, 62) /* Space Cadet */
  --footer-panel: rgb(219, 179, 177) /* tea rose */
}

/* font-family: 'Lato', sans-serif; [h1,3,4 text] weight R, B
font-family: 'Montserrat', sans-serif; [nav text] weight R
font-family: 'Open Sans', sans-serif; [span/p text] weight L R
font-family: 'Playfair Display', serif; [logo text] weight M semiB B*/

html, body {
  box-sizing: border-box;
  height: auto;
  width: 100%;
}

body {
  line-height: 1.5;
  text-align: left;
  color: var(--text-color);
  background-color: var(--background-color);
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%; /* 1rem = 10px */
}

hr{
  text-decoration:solid;
  border: 1px solid #bfc2da;
  width: 150px;
  
}
img {
  width: 100%;
  height: auto;
}

a:focus,
button:focus {
  outline: 2px solid blue;
}

a{
  text-decoration: none;
  color: var(--text-color);
}

.img-card1{
  max-width: 50%;
  max-height: 50%;
  object-fit: cover;
}

.img-card2{
  max-width: 70%;
  max-height: 50%;
  object-fit:cover;
}

.img-card3{
  max-width: 60%;
  max-height: 50%;
  object-fit: cover;
}

.image-wrapper {
  width: 25vw;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
/* =======DEFAULT SECTION END========= */






/* ========= LAYOUT SECTION START======== */
header{
  height: 100vh;
  width: 100vw;
  background-image: url(/src/img/WebBanner.jpg);
  background-size: cover;
  background-position: center;
  
}

section{
  height: auto;
  width: auto;
}

nav{
  background-color: rgba(102, 153, 155, 0.3);
  height: auto;
}

#nav-ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

nav {
  position: fixed;
  width: 100%;
}

.logo{
  color:  rgb(40, 41, 62)!important;
  padding-top: 17px;
  flex: 1;
  padding-left: 45px;
  font-size: 1.5rem;
  font-family: 'Playfair Display', serif;
  font-weight: 600 ;
}

.dog-paw{
  padding-right: 10px;
  font-size: 1.7rem;
}

.right-align {
  color: rgb(234, 240, 206);
  padding-top: 20px;
  padding-right: 55px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

.Welcome-section{
display: flex;
justify-content: center;
align-items: center;

}

.welcome-text-box{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.welcome-header{
  font-family: 'Lato', sans-serif;
  font-size: 4.4rem;
  color: rgba(102, 153, 155, 1);
  margin-bottom: 15px;
  text-transform: uppercase;
}

.welcome-note{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  color: rgb(234, 240, 206);
  margin-bottom: 15px;
  text-transform:capitalize;
  font-style:italic;
}

.btn-call-to-action{
 background-color: rgba(102, 153, 155, 0.50);
 color: rgb(234, 240, 206);
 border-radius: 6px;
 border: none;
 cursor: pointer;
 font-family: 'Montserrat', sans-serif;
 font-weight: 400;
 font-size: 1.1rem;
 padding: 2px 8px;
 
}

.btn-call-to-action:hover{
  background-color: rgba(102, 153, 155, 1);
  border: 1px solid whitesmoke;
}

.service-section, .booking-rates-section, .Facebook-banner-section{
  background-color: rgba(102, 153, 155, 0.2);
}

.info-section, .rates-section{
  background-color: rgb(234, 240, 206);
}

.service-section{
  display: flex;
  justify-content:center;
  align-items: center;
}

.service-provided-cards{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-right: 4px solid whitesmoke;

}

.service-text{
  text-align: center;
  width: auto;
  height: auto;
 
}

.serve-text{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 0.88rem;
  color: rgb(40, 41, 62);
}

.bullet{
  text-align: start;
  justify-content:space-evenly;
  margin-top: 15px;
  padding-bottom: 15px;
}
.service-title{
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
  color: rgba(102, 153, 155, 1);
  padding-top: 25px;
 
}

.we-provide-text{
  text-decoration: underline;
  color: rgb(13, 27, 30);
  font-weight: 700;

  
}

.card3{
  border: 0px !important; 
}

.image-wrapper ,.img-card1{
  display: flex;
  justify-self: start;
}





.info-box{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  line-height: 1.8;
  text-align: center;
}
.info-header{
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
  padding-bottom: 20px;
  color: rgb(40, 41, 62);
}

.info-section{
  padding-top: 15px;
}
.info-box-Kyle{
  background-position: center;
  width: 100%;
  height: auto;
  text-align: left;
}

.info-box-Athin{
  border-radius: 20% 5%;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  width: auto;
  height: 100%;
  text-align: right;
}
 .img-raduis{
  width: 200px;
  height: 220px;
  object-fit: cover;
  border-radius: 10% 20%;
}

.info-box-Athin, .info-box-Kyle{
  display: flex;
  gap: 20px;
  padding-top: 25px;
}

.info-box-text{
  font-weight: 300;
  font-size: 1.1rem;
  color: rgb(13, 27, 30);
}

.intro{
  font-size: 1.8rem;
}

.booking-rates-section{
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}

.contact-box{
  display: flex;
  flex-direction: column;
  gap: 45px;
  text-align: center;
  width: auto
}
.book-text h3{
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  color: rgba(40, 41, 62, 1);
  padding: 10px;
}

.book-text span{
 font-size: 0.88rem;
 font-weight: 300;
 color: rgba(13, 27, 30 ,1);
 font-family: 'Open Sans', sans-serif;
 font-style: italic;
}

.contact-link{
  display: flex;
  justify-content: center;
  gap: 350px;
  color: rgba(102, 153, 155, 1);
  font-family: 'Playfair Display', serif;
  font-size: 1.5rem;
  font-weight: 500;
}


.rates-section{
  display: flex;
  flex-direction: column;
}

.table-header{
  text-align: center;
  background-color: rgba(102, 153, 155, 1);
  padding: 20px 0 ;
}


.price-table{
  display: flex;
  align-items: center;
  padding-top: 20px;
  
}

.table-outlay{
 text-align: center;
line-height: 3;

}
.price-white-blocks{
  background-color: whitesmoke;
  width: 100vw;
}

.rates-header{
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  padding-bottom: 25px;
  color: rgb(40, 41, 62);
}

.discount-text{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 0.88rem;
  line-height: 1.6;
  font-style: italic;
  color: rgb(234, 240, 206);
  text-decoration: underline;
}

.rate-text-ital{
   font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 0.88rem;
  line-height: 1.6;
  font-style: italic;
  color: rgb(40, 41, 62);
  text-decoration: underline;
  text-align: center;

}

.rate-text{
  padding-top: 80px;

}

.rate-note{
  font-weight: 700;
  text-transform: uppercase;
  font-style: italic;
}

.Facebook-banner-section{
  height: 70vh;
 display: flex;
 flex-direction:column;
 gap: 50px;
}

.facebook-banner-link{
  flex: 1;
  width: 100vw;
  height: 50vh;
  object-fit: cover;
}

.check-out-facebook-text{
  flex: 1;
  text-align: center;
}

.facebook-banner-text{
  font-family: 'Playfair Display', serif;
  font-size: 1rem;
  font-weight: 600;
  color: rgba(102, 153, 155, 1) ;
}
  .footer-section{
  background-color: rgba(219, 179, 177,0.88);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: auto;
  gap: 35px;
  text-align: center;
}

.our-mission h2{
  font-family: 'Playfair Display', serif;
  font-size: 1.1rem;
  font-weight: 400;
  padding-bottom: 10px;
  text-decoration: underline;
  color: rgba(40, 41, 62, 1);
}

.our-mission p{
  color: rgba(40, 41, 62, 1);
  line-height: 1.4;
  font-family: 'Playfair Display', serif;
  font-size: 0.8rem;
}

.contact-footer h2{
  font-family: 'Playfair Display', serif;
  font-size: 0.9rem;
  font-weight: 400;
  padding-bottom: 5px;
  width: 100vw;
  color: rgba(40, 41, 62, 0.7);
  text-decoration: underline;
}

.contact-footer-row{
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
  padding-top: 7px;
  color: rgba(40, 41, 62, 1);
  font-family: 'Playfair Display', serif;
  font-size: 1rem;
  width: auto;
  height: auto;
  
  
}

.mailto-hover-link:hover{
  color: rgba(102, 153, 155, 1);
}




/* ============= LAYOUT SECTION END=========*/








/* ============== MEDIA QUERIES SECTION START=======*/


/* Styles for screens up to 600px wide (mobile) */
@media only screen and (max-width: 600px) {
    /* Mobile styles */

   .logo{
    
    padding-top: 2px;
    flex: 1;
    padding-left: 15px;
    font-size: 5px;
    font-family: 'Playfair Display', serif;
    font-weight: 200 ;
    align-items: center;
              }

  
    
    .nav-text, .right-align, .text-logo{
      display: none;
    }
    
    .dog-paw{
  padding-top: 5px;
  padding-bottom: 3px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  }

  nav {
  position: static;
  width: auto;
  background-color: #66999b;
  }

  .Welcome-section{
    width: auto;
  }

 
  .welcome-text-box{
    display: flex;
  flex-direction: column;
  padding-top: 150px;
  
   
  }

  .welcome-header, .welcome-note , .btn-call-to-action{
    font-size: 15px;
    text-align: center;
    justify-content:center; 
  }

  header{
    background-image: none;
    width: auto;
  }
 
  #Home{
    background-image: linear-gradient(to bottom, #28293e, #324359, #3e5f73, #4e7c88, #66999b);
  }


  .service-section{
    height: auto;
    display: flex;
    flex-direction: column;
    width: auto;
    padding: 0 0 45px 0;
  }

  .image-wrapper{
    width: 100%;
    margin-top: 6px;
  }

  
.serve-text{
display: flex;
justify-content: space-evenly;
gap: 20px;
line-height: 1.8;
width: 100%;
font-size: 10px;
height: 100%;
}

.service-title{
 font-size: 15px
}
.bullet{
  padding: 5px 0 0 0 ;
  margin: 0 15px 0 15px;
  width: 100%;
  text-transform: capitalize ;
}

  .info-section{
    height: auto;
    padding: 10px 15px 55px 15px;
    width: auto;
  }   

 

  .info-box-text{
    font-size: 13px;
    width: auto;
    
    padding-right: 0px;
  }

  .intro{
    color: rgba(102, 153, 155, 1);
  }
  .img-raduis{
    width: 150px;
    height: 160px;
  }

  .booking-rates-section{
    width: auto;
    height: auto;
    padding: 5px 0 30px 0;
  }

  .contact-box{
    width: auto;
    height: auto;
    
  }

  .contact-link{
    gap: 25px;
    font-size: 20px;
    padding: 0;
  }

  .rates-section{
    width: auto;
    height: auto;
    padding: 0px 0 20px 0;
  }

  .rates-header{
    font-size: 25px;
  }

  .discount-text{
    font-size: 13px;
  }

  .Facebook-banner-section{
    width: auto;
    height: auto;
    padding-bottom: 25px;
  }

    .facebook-banner-link{
      width: 100vw;
      height: auto;
    }



  .footer-section{
    width: auto;
    height: auto;
    padding: 10px 0 30px 0;
  }
 
  .our-passion-text{
    padding: 5px 20px;
    font-size: 13px !important;
    line-height: 2.3;
    text-transform: capitalize;
    border: 22px solid linen;
    

  }

}

/* Styles for screens 601px to 768px wide (tablets) */
@media only screen and (min-width: 601px) and (max-width: 768px) {
    /* Tablet styles */

section, .footer-section{
  width: auto;
  height: auto;
}

hr{
  display: none;
}

.text-logo{
  display: none;
}

.nav-bar{
display: flex;
justify-content: flex-end;
align-items: center;
width: auto;
padding-right: 17px;
}


.right-align{
  font-size: 13px;
  align-items: center;
  padding: 0 7px; 
}

.dog-paw{
  justify-content: center;
  align-items: flex-start;
}

.logo.md{
  display: flex;
justify-content: flex-start;
align-items: flex-start;
  padding: 5px 370px 4px 7px;
}



.welcome-text-box{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: end;
  padding-top: 280px ;
}

.service-section{
  padding: 0 10px ;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  height: auto;
  margin-bottom: 10px;
}

.service-provided-cards{
 width: 33%;
 padding: 0;
 margin: 0;
 
    text-align: center; /* Center the content within each card */
}

.image-wrapper{
  width: 25vw;
  height: 17vh;
}

.bullet2{
  font-size: 13px;
}

.bullet1{
font-size: 15px;
}

 .info-section{
    height: auto;
    padding: 10px 15px 55px 15px;
    width: auto;
  }   

 

  .info-box-text{
    font-size: 13px;
    width: auto;
    
    padding-right: 0px;
  }

  .intro{
    color: rgba(102, 153, 155, 1);
  }
  .img-raduis{
    width: 150px;
    height: 160px;
  }


 .booking-rates-section{
    width: auto;
    height: auto;
    padding: 5px 0 30px 0;
  }

  .contact-box{
    width: auto;
    height: auto;
    
  }

  .contact-link{
    gap: 25px;
    font-size: 20px;
    padding: 0;
  }

  .rates-section{
    width: auto;
    height: auto;
    padding: 0px 0 20px 0;
  }

  .rates-header{
    font-size: 25px;
  }

  .discount-text{
    font-size: 13px;
  }

  .Facebook-banner-section{
    width: auto;
    height: auto;
    padding-bottom: 25px;
  }

    .facebook-banner-link{
      width: 100vw;
      height: auto;
    }



  .footer-section{
    width: auto;
    height: auto;
    padding: 10px 0 30px 0;
  }
 
  .our-passion-text{
    padding: 5px 20px;
    font-size: 13px !important;
    line-height: 2.3;
    text-transform: capitalize;
    border: 22px solid linen;
}

}

/* Styles for screens 769px and above (desktops) */
@media only screen and (min-width: 769px) {
    /* Desktop styles */
  .Welcome-section{
display: flex;
justify-content: center;
align-items: center;
padding-top: 150px;
}

hr{
  display: none;
}
.logo.md{
  padding: 5px 20px; 
}

.right-align{
  padding: 5px 17px; 
}
.service-section{
  padding: 0 10px ;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  height: auto;
  margin-bottom: 10px;
}

.info-section{
    padding: 10px 15px 55px 15px;
  }   

  .intro{
    color: rgba(102, 153, 155, 1);
  }
.booking-rates-section{
    padding: 5px 0 30px 0;
  }

 .footer-section{
    padding: 10px 0 30px 0;
  }

    .our-passion-text{
    padding: 5px 20px;
    line-height: 2.3;
    text-transform: capitalize;
    color: rgba(102, 153, 155, 1)!important;
    
}

}

/* ============== MEDIA QUERIES SECTION END=========*/